# Basics of data wrangling features

In [1]:
# creating a data frame

In [2]:
import pandas as pd

In [3]:
data={'name':['a','b','c'],'age':[24,27,22],'city':['new yrk','los angel','chicago']}
df=pd.DataFrame(data)
print(df)

  name  age       city
0    a   24    new yrk
1    b   27  los angel
2    c   22    chicago

In [4]:
#reading csv files

In [5]:
df=pd.read_csv('sample.csv')
df.head()

,SALES DATA FOR A PROFIT PRICE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,PRODUCT ID,PRODUCT NAME,CATEGORY,CURRENT PRICE,UNIT COST,UNIT SOLD,TOTAL REVENUE,TOTAL COST,TOTAL PROFIT
1,101,WIDGET A,GADGETS,20,10,200,4000,2000,2000
2,102,WIDGET B,GADGETS,15,8,300,4500,2400,2100
3,103,GADGET X,DEVICES,50,30,100,5000,3000,2000
4,104,GADGET Y,DEVICES,45,25,150,6750,3750,3000

In [6]:
#data cleaning

In [8]:
df=pd.DataFrame({'a':[1,2,None,4],'b':[None,2,3,4]})
cleaned=df.dropna()
print(cleaned)

     a    b
1  2.0  2.0
3  4.0  4.0

In [9]:
#filtering data

In [10]:
df=pd.DataFrame({'a':[1,2,3,4],'b':[5,6,7,8]})
filt=df[df['a']>2]
print(filt)

   a  b
2  3  7
3  4  8

In [11]:
# grouping data

In [12]:
df=pd.DataFrame({'a':['foo','boo','foo','boo'],'b':[1,2,3,4]})
grp=df.groupby('a').sum()
print(grp)

     b
a
boo  6
foo  4

In [13]:
#merging dataframe

In [17]:
df1=pd.DataFrame({'a':['foo','boo'],'b':[1,2]})
df2=pd.DataFrame({'a':['foo','boo'],'b':[3,4]})
mergee=pd.merge(df1,df2,on='a')
print(mergee)

     a  b_x  b_y
0  foo    1    3
1  boo    2    4